# Binaries and datasets pulled in by extract.sh - regenerate, don't commit
img-dnn/server/img-dnn_server_networked
img-dnn/server/model.xml
img-dnn/client/img-dnn_client_networked
img-dnn/client/mnist/
masstree/server/build/
masstree/client/build/
silo/server/build/
silo/client/build/
sphinx/server/build/
sphinx/client/build/
moses/server/build/
moses/client/build/
